/*Reset dos elementos*/
* {margin: 0; padding: 0; box-sizing: border-box;}

/* Estilos gerais */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    line-height: 30px;
}

header {
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    
}

header h1 {
    font-size: 30px;
    padding: 5px;
}

h1 span {
    display: block;
    margin-top: 15px;
    color: #007bff;
}

header a {
    color: #ffff;
    text-decoration: none;
}

.product-card h2 {
    margin: 5px;
    text-align: center;
}

p {
    text-align: center;
    line-height: 1.1rem;
}

span {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.1rem;
}

input {
    min-width: 205px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
}

button {
    padding: 7px ;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:active{
    background-color: #0056b3;
}

/* Estilo para os cards */
.product-card {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-2px);
}

/*Estilo para a descrição do produto*/
.product-description {
    word-break: auto;
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*Estilo para as informações gerais do produto*/
.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff; 
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para os detalhes do produto */
.product-details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff; 
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details-button {
    margin-top: 5px;
} 

.product-card.active .product-details {
    display: block;
}

@media screen and (max-width: 700px) {
    .product-card {
        min-width: 80vw;
        max-width: 80vw;
    }
}